*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #ff6b6b, #3b5998);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: linear-gradient(135deg, #ffcc00, #ff0066);
    width: 300px;
    min-height:150px;
    max-width: 800px;
    border: none;
    outline: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
input{
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
}
::placeholder{
    color: #b26684;
}
.qrbox{
    margin-top: 10px;
    margin-bottom: 10px;
}
#btn{
    height: 25px;
    width: 70px;
    background-color: #713cb0;
    color: #fff;
    border: none;
    font-weight: lighter;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}